/*! Place your custom styles here */

@media all and (min-height: 600px) and (min-width: 767px) {
  .height-10 {
    height: 10vh;
  }
  .height-20 {
    height: 20vh;
  }
  .height-30 {
    height: 30vh;
  }
  .height-40 {
    height: 40vh;
  }
  .height-50 {
    height: 50vh;
  }
  .height-60 {
    height: 60vh;
  }
  .height-70 {
    height: 70vh;
  }
  .height-80 {
    height: 80vh;
  }
  .height-90 {
    height: 90vh;
  }
  .height-100 {
    height: 100vh;
  }
   .height-120 {
    height: 120vh;
  }
   .height-140 {
    height: 140vh;
  }
   .height-160 {
    height: 160vh;
  }
   .height-180 {
    height: 180vh;
  }
}
ul.slides li.slide p {
  font-size: 15px;
}
@media (min-width: 992px) {
  ul.slides li.slide p {
    max-width: 80%;
    font-size: 18px;
  }
  #topIMG{
  	margin-top: 65px;
  }
}
@media (min-width: 1200px) {
  ul.slides li.slide p {
    max-width: 70%;
  }
}
.imagebg:not(.image--light) span {
  color: #56575A;
}

.flickity-prev-next-button {
  background-color: #309350;
}
.flickity-prev-next-button:hover{
  background-color: #309350;
}
.carouselheader {
  color: #309350;
}